<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"  th:attr="dir=#{direction}">

<head th:insert="fragments/header :: header">
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



</head>
<body>

  <div th:insert="fragments/header  :: navbar"></div>

  <div th:insert="fragments/footer :: body"></div>
 <br>  <br>  <br>   <br>
 
 
  
<div class="container h-100" th:align="#{styleRight}">
  <div class="row  justify-content-center align-items-center">
    <div class="form-group " >
                 
                  <p th:text="#{first}">-</p>
    
            <form method="POST"
            name="f" enctype="multipart/form-data" th:object="${profile}" 
             action="/saveProfile" accept=".jpg">	         
    
            <fieldset>
               
          
              <div style="border: 0.1px solid #70a1ff; padding: 10px;">
             
               <p th:text="#{responsible}">-</p>
             
               <br>
               <p th:text="#{sec}">-</p>
                     
             </div>    
                  <div>
                <br/>
               <label  for="checkTerms" th:text="#{label.accespt}"></label>
                <input type="checkbox" name="checkTerms"  id="checkTerms" />
               </div>
                              
        <br>
        
		  <button id="btnCreate" type="submit" class="btn btn-primary" th:text="#{label.createProfile}" disabled="disabled" >
	    </button>
                
            </fieldset>
        </form>
        
    </div>
    </div>
        </div>
        
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   
 
</body>
           <script  th:src="@{/js/terms.js}"   type="text/javascript"></script>

</html>