<!DOCTYPE HTML>
<html>
<head> 
    <title>something was wrong</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background: #AF7AC5;">
<br>
<br>
<br>
<br>

<P style=" color: #4A235A; text-align: center;  text-transform: unicode-bidi; font-weight: bold; font-family: sans-serif; font-size: xx-large;font-style: oblique; font-stretch: condensed;"> 
     Sorry <br> something was not right</P>
<p style="text-align: center;"> maybe internet connection <br> image size large too match <br>  or other ...  </p>

<p style="text-align: center;">return home <a href="/welcome">here</a></p>
    
    
</body>
</html>
