<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<!-- <head th:insert="fragments/header :: header">  -->
  <link rel="shortcut icon" href="/profileImage/favicon.ico" />
    <title  >jedar</title>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
   
  </head>
<body th:attr="dir=#{direction}">

<!--<div th:insert="fragments/header :: header"></div>-->


<div class="d-flex align-items-center flex-column pt-5" th:align="#{styleRight}">
    <div class="card" style="width: 18rem;">
  <div class="card-body">
   <form name="f" th:action="@{/reset-password}"  th:method="post" class="justify-content-center">               
            <fieldset>
                <legend th:text="#{title.PleaseReSetPassword}"></legend>
               
                
             <input  type="hidden" th:value="${token}" name="token"/>
                
                <div>
                
                <label  for ="passsword" th:text="#{label.Password}"></label>
                <input type="text" class="form-control" name="password" id="password"/>        
                
             
               </div>
               <br>
             <input type="submit"  th:value="#{label.save}" class="btn btn-primary"/>
  
            </fieldset>
        </form>

             
                
  </div>
</div>
    </div>
    
  
    
   

    
    
    
    
    
    

 <!--   <div th:insert="fragments/footer :: body"></div> -->

</body>
<footer>
      
   
   
</footer>
</html>